/node_modules
/public/hot
/public/storage
/public/build
/public/js/filament
/public/css/filament
/public/vendor/livewire
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/.vagrant
/.idea
.claude
